<!doctype html>

<html>
<head>
	<title>{{date}}</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script>
	<!-- lab6 -->
	{{> facebook}}
	<script src="/js/facebook.js"></script>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/hci-friends.css" rel="stylesheet">

    <link href='fullcalendar/main.css' rel='stylesheet' />
    <script src='fullcalendar/main.js'></script>

    <script>

      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

    </script>

</head>

<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://cogs120team11.herokuapp.com/">Logo</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="https://cogs120team11.herokuapp.com/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://cogs120team11.herokuapp.com/">All reminders</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://cogs120team11.herokuapp.com/">Calendar</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            My Account
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Change password</a></li>
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>




    <div id='calendar'></div>


	<div class="container">




		<!-- lab6 -->
		<div class="jumbotron">
			<h1 id="name">Welcome!</h1>
			<p>Please login to start note taking</p>
			<p class="facebookLogin"><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button></p>
		</div>

	<h1></h1>

		<div id="facebookPhoto" class="profile">
			<img id="photo" class='img-responsive' src="" />
		</div>

    {{#each datelist}}
<div class="jumbotron" style="background: #ebf2f9">
	<form id="addFriendForm" role="form" method="get" action="/date/{{date}}/add">
		  <h3>Add a new note</h3>
	    <div class="form-group">
	      <label for="name">Task name:</label>
	      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	    </div>
	    <div class="form-group">
	      <label for="description">Description:</label>
	      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the note"></input>
	</form>
</div>
		<h3>{{date}}</h3>
    {{/each}}

		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->





		<!-- lab5 -->


	{{#each otherdatenotes}}
	<div class="friends">
	<img src="{{imageURL}}" class="img-responsive img-rounded">
	<h3><a href="#">{{name}}</a></h3>
	<p>{{description}}</p>
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalFullscreen">
  Delete
</button>

<div class="modal fade" id="exampleModalFullscreen" tabindex="-1" aria-labelledby="exampleModalFullscreenLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title h4" id="exampleModalFullscreenLabel">Full screen modal</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you want to delete this note?</p>
      </div>
      <div class="modal-footer">
                <button type="button" class="btn" data-bs-dismiss="modal">Cancel</button>
        <button id="deleteconfirm" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
	<hr>
	</div>
	{{/each}}

	
	</div>

<script type="text/javascript">
  $('.friends #deleteconfirm').click(function() { 
    $(this).parents('.friends').hide();

    return false;
});    

</script>

</body>
</html>
