<!doctype html>

<html>
<head>
	<title>My HCI Friends</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

	<script src="/js/jquery-1.11.0.js"></script>
	<script src="/js/bootstrap.js"></script>
	<script src="/js/hci-friends.js"></script>
	<!-- lab6 -->
	{{> facebook}}
	<script src="/js/facebook.js"></script>

<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-theme.css" rel="stylesheet">
<link href="/css/hci-friends.css" rel="stylesheet">

</head>

<body>

	<div class="container">


		<!-- lab6 -->
		<div class="jumbotron">
			<h1 id="name">Welcome!</h1>
			<p>Please login to start note taking</p>
			<p class="facebookLogin"><fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
</fb:login-button></p>
		</div>

	<h1></h1>

		<div id="facebookPhoto" class="profile">
			<img id="photo" class='img-responsive' src="" />
		</div>

		<div class="jumbotron" style="background: #ebf2f9">
				<form id="addFriendForm" role="form" method="get" action="/add">
		<h3>Add a new note</h3>
	    <div class="form-group">
	      <label for="name">Task name:</label>
	      <input type="text" class="form-control" id="name" placeholder="Name" name="name">
	    </div>
	    <div class="form-group">
	      <label for="description">Description:</label>
	      <input type="text" class="form-control" id="description" placeholder="Description" name="description">
	    </div>
	    <input type="submit" id="submitBtn" class="btn btn-default" value="Add the note"></input>
	</form>
</div>
		<h3>Tasks & Notes</h3>
		<!-- divs are invisible structuring elements that stack vertically by default. Use them to organize your code -->
		<!-- img tags are images. Lorem Pixel will deliver random images; handy! -->
		<!-- a are anchors, also known as hyperlinks. Use the href attribute to tell the browser where to go when the user clicks -->
		{{#each projects}}
		<div class="project" id="{{id}}">
			<div class="thumbnail">
				<a href="#">
					<img src="images/{{image}}" alt="Lorem Pixel image" class="img">
					<p>{{name}}</p>
				</a>
				<div class="details"></div>
			</div>
		</div>
		{{/each}}





		<!-- lab5 -->



	{{#each friends}}
	<div class="friends">
	<img src="{{imageURL}}" class="img-responsive img-rounded">
	<h3><a href="#">{{name}}</a></h3>
	<p>{{description}}</p>
	<hr>
	</div>
	{{/each}}

	
	</div>
</body>
</html>
